
# macOS / Jupyter
.DS_Store
**/.DS_Store
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# local large outputs (do not commit)
Computational_struct_effect_validation/
Feature_importance_analysis/
Feature_score_logos/
Transfer_learning/

# Data & results
Datasets_17-38/
val_loss_Pearson_Spearman_violin_plot_summary/
