keras==3.8.0
keras_tuner==1.4.7
logomaker==0.8.7
matplotlib==3.10.8
networkx==3.3
numpy==1.26.4
optuna==4.2.0
pandas==3.0.1
RNA==0.13.2
scikit_learn==1.8.0
scipy==1.17.1
seaborn==0.13.2
shap==0.47.0
tensorflow==2.18.0
torch==2.6.0
torch_geometric==2.7.0
tqdm==4.66.5
ViennaRNA==2.7.0
