<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modular CRISPR Predictor</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="page">
        <div class="card home-card">
            <h1>Modular CRISPR Predictor</h1>
            <p class="subtitle">
                Please choose which function you want to use.
            </p>

            <div class="menu-grid">
                <a href="/predict" class="menu-box">
                    <h2>Predefined model prediction</h2>
                    <p>
                        Use individually trained models or predefined fine-tuned models
                        to predict relative activity or editing efficiency.
                    </p>
                </a>

                <a href="/custom-finetune" class="menu-box">
                    <h2>Custom fine-tuning from your own dataset</h2>
                    <p>
                        Upload your own dataset, fine-tune a custom model, download it,
                        and then use it for prediction.
                    </p>
                </a>
            </div>
        </div>
    </div>
</body>
</html>